body{
    font-family: Helvetica;
}
h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  background: url('./assets/pattern.jpg');
  text-align: center;
}
h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.brushes {
  background-color: mediumspringgreen;
}
span {
  font-weight: bold;
  color: blue;
}
h3 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.frames{
    background-color: lightcoral;
}
.paint {
    background-color: skyblue;
}